
@font-face {
    font-family: 'nunitoSans';
    src: url('font/nunitoSans/NunitoSans-Regular.ttf');
}

:root {
    --colorSimplon: #CF3034;
    --primari-color: #F1F5F8;
    font-family: "nunitoSans";
}

body {
    background-color: var(--primari-color);
}

main {
    background-color: var(--primari-color);
    margin-right: 122px;
    margin-left: 122px;
}

h2 {
    padding-top: 100px;
}

/*-----NAVBAR-----*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav img {
    margin-right: 10%;
}

/*-----HEADER-----*/
header {
    display: flex;
    background-color: #ffffff;
    padding: 45px 0 45px 59px;
}

header .container {
    width: 50%;
}

.textHeader {
    padding: 49px 0 49px 0;
}

.imageAccueil {
    padding-left: 40px;
}

.imageAccueil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header h1 {
    word-wrap: break-word;
    font-size: 38px;
    color: var(--colorSimplon);
}

.bouton {
    display: flex;
    justify-content: space-around;
}

.RButton {
    width: 193px;
    height: 52px;
    border-radius: 6px;
    background-color: var(--colorSimplon);
    color: #ffffff;
}

.WButton {
    background-color: #ffffff;
    color: var(--colorSimplon);
    border: 1.5px solid var(--colorSimplon);
}

/*-----ARTICLE NOTRE IMPACT-----*/
.firstArt {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.impact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    background-color: #ffffff;
    margin: 0 19px;
    padding: 0 5px 5px 0;
    width: 197px;
    height: 254px;
}
.carre {
    display: flex;
}
.reverseImpact {
    background-color: var(--colorSimplon);
    color: #ffffff;

}

.reverseImpact p {
    padding-bottom: 30px;
}

.impact h3 {
    color: #CF3034;
    font-size: 64px;
    margin: 31px 0 0 0;
    height: 81px;
    width: 165px;
}

.impact p {
    font-size: 24px;
    min-height: 81px;
    width: 165px;
}

.impact img {
    margin-bottom: 30px;
}

.vector {
    width: 30px;
    height: 30px;
}

/*-----Caroussel-----*/
.temoignages {
    height: 475px;
    background-color: #ffffff;
    padding: 59px;
    display: flex;
}

.textTemoin {
    width: 90%;
    word-wrap: break-word;
}

.descTemoin {
    font-weight: 600;
}

.guillemet {
    height: 70px;
    font-size: 96px;
    color: var(--colorSimplon);
    margin: 0;
}

/*-----APPRENTIS-----*/
.apprentis {
    background-image: url("images/img-apprentis.png");
    display: flex;
    justify-content: end;
    height: 375px;
}

.textApprent {
    padding: 40px 35px 0 40px;
    background-color: #ffffff;
    width: 426px;
    height: 250px;
}

.titre {
    font-weight: 700;
    margin: 0 0 25px 0;
}

/*-----soutien-----*/
.soutien {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px 0 30px 0;
}

/*-----FOOTER-----*/
footer {
    margin-top: 108px;
    padding: 50px 0 26px 0;
    background-color: var(--colorSimplon);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upFooter {
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    width: 800px;
}

footer h4 {
    font-weight: 700;
    font-size: 38px;
    margin: 0;
}
.reseaux {
    display: flex;
    justify-content: space-around;
    width: 350px;
    padding: 10px;
}
.plus  {
    color : #ffffff
}
.plus a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 18px;
}
.separ {
    border-right: solid;
}
.centerFooter1 {
    flex-shrink: 1;
    
}
.name {
    width: 100%;
    background-color: var(--colorSimplon);
    color: #ffffff;
    border-color: #ffffff;
}
#mail {
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    padding: 5px;
}
.mails {
    display: flex;
    padding-bottom:10px ;
}
.temoignages ul {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.temoignage {
    width: 100%;
}
.slides-container {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}
 
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
.slide {
background-color: #ffffff;
  width: 768px;
  height: 100%;
  flex: 1 0 100%;
  display: flex;
}
.slide-arrow {
    font-size: 30px;
    color: var(--colorSimplon);
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}
.carouselButon {
    display: flex;
    justify-content: center;
}
.carouselButon h2{
padding: 0;
margin: 5px;
}
@media(min-width: 600px){
    .imgMobile {
        display: none;
    }
}
@media(max-width: 500px){
    main {
        margin-left: 0;
        margin-right: 0;
    }
    header {
        padding: 0;
    }
    header .container{
        width: 100%;
    }
    .firstArt {
        flex-direction: column;
    }
    .imageAccueil{
        display: none;
        width: 0;
    }
    nav a {
        display: none;
    }
    .burger-icon {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
      .temoignages img {
        display: none;
      }
      .apprentis {
        background: none;
      }
      .imgMobile img {
        display: block;
        width: 100%;
      }
      .textApprent {
        padding: 0;
        width: 100%;
        height: 100%;
      }
      .RButton {
        width: 100%;
      }
      .bouton {
        flex-direction: column;
      }
      .soutien img {
        width: 100%;
      }
      .temoignages {
        height: 100%;
        padding: 0;
      }
      footer {
        flex-direction: column-reverse;
      }
      .plus {
        display: flex;
        flex-direction: column;
        align-items: baseline;
      }
      .plus a {
        padding: 0 250px 30px 0;
      }
      .separ {
        border: 0;
      }
      .upFooter {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        padding-top: 50px;
      }
      .upFooter img {
        background-color: #ffffff;
      }
      .centerFooter {
        display: none;
      }
      .temoignages{
        flex-direction: column;
      }
}
